<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active' : isActivePage('/streamData')}">
        <a class="nav-link nav-link-custom" routerLink="/streamData">Données reçues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-custom" routerLink="/nlog" [ngClass]="{'active' : isActivePage('/nlog')}">Logs</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>